@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  margin: 0;
  text-align: center;
  background: url('/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

pre {
  border: #5a5c40 1px solid;
  border-radius: 0.5rem;
  max-width: 100%;
}

body::after {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgb(19, 19, 19);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(65, 65, 65);
}

.text-segment a {
  color: rgb(251, 255, 0);
}

.text-segment a:hover {
  color: rgb(255, 208, 0);
}

.text-segment img {
  max-height: 300px;
  object-fit: contain;
}

/* Navbar */

.Navbar * {
  overflow: unset;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: none;
  z-index: 20;
}

.NavbarScrolled {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  left: 0;
  position: fixed;
  box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.88);
  background-color: #1d1d1d;
  z-index: 20;
  height: 60px;
}

.NavbarScrolled * {
  overflow: unset;
}

.NavigationScreen {
  position: fixed;
  left: -100vw;
  z-index: 20;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #181818;
}

.NavigationScreenItem {
  display: flex;
  text-decoration: none;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  align-items: left;
  margin: 2vh 0;
}

.NavigationScreen nav {
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.NavList {
  display: block;
  padding: 2vh 5vh;
}

.NavigationScreenCross {
  color: white;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 5px;
}

.BsX {
  margin-left: -8px;
  margin-top: -5px;
  cursor: pointer;
}

.crossIconButton {
  margin: 0.5vh;
  cursor: pointer;
  position: absolute;
}

.crossIcon {
  margin-top: 6px;
}

.project h4 {
  font-size: xx-large;
  color: #eff876;
}
