@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'header';
  src:
    local('header'),
    url(../public/header.otf) format('opentype');
  /*url(../public/header.otf) format('opentype');*/
  /* other formats include: 'woff2', 'truetype, 'opentype',
							  'embedded-opentype', and 'svg' */
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  text-align: center;
  background: url('/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Red Hat Display', sans-serif;
}

.main-title {
  font-family: 'header';
  letter-spacing: 0px;
}

pre {
  border: #5a5c40 1px solid;
  border-radius: 0.5rem;
  max-width: 100%;
}

/* The progress bar (scroll indicator) */

body::after {
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-track {
  background-color: #1d1d1d;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgb(19, 19, 19);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgb(65, 65, 65);
}

.text-segment a {
  color: #76bef8;
}

.text-segment a:hover {
  color: #ffd000;
}

.text-segment img {
  max-height: 300px;
  object-fit: contain;
}

.text-segment p:first-of-type::first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: #eff876;
  font-family: 'Playfair Display', serif;
}

.text-segment blockquote {
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  line-height: 1.2em;
  color: #949494;
}

/* Navbar */

.Navbar * {
  overflow: unset;
}

.Navbar {
  display: flex;
  width: 100%;
  height: 60px;
  position: fixed;
  padding: 1dvh auto;
  top: 0;
  background-color: none;
  z-index: 20;
}

.NavbarScrolled {
  display: flex;
  position: fixed;
  padding: 1dvh auto;
  width: 100%;
  height: 60px;
  top: 0;
  backdrop-filter: blur(4px);
  z-index: 20;
  /*box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.88);*/
}

.NavbarScrolled * {
  overflow: unset;
}

.NavigationScreen {
  position: fixed;
  left: -100vw;
  z-index: 20;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #723d00;
}

.NavigationScreenItem {
  display: flex;
  text-decoration: none;
  width: 100%;
  font-size: 2rem;
  text-align: left;
  align-items: left;
  margin: 2vh 0;
  cursor: pointer;
}

.NavigationScreen nav {
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.NavList {
  display: block;
  padding: 2vh 5vh;
}

.NavigationScreenCross {
  color: #eff876;
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 5px;
}

.BsX {
  margin-left: -20px;
  margin-top: -5px;
  cursor: pointer;
}

.crossIconButton {
  margin: 0.5vh 0;
  cursor: pointer;
  position: absolute;
}

.crossIcon {
  margin-top: 6px;
}

.project h4 {
  font-size: xx-large;
  color: #eff876;
  text-align: start;
  margin: 4rem 0 1rem 0;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
